@model WorldDominion.Models.Department

@{
    ViewData["Title"] = "Shop Products for " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().MSRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().WeightUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                <a asp-action="ProductDetails" asp-route-id="@item.Id">View Product</a> |
                <a asp-controller="Carts" asp-action="AddToCart" asp-route-id="@item.Id">Add to Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
